<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Error</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ baseUrl }}/assets/const/css/const_style.css">
        <link rel="stylesheet" href="{{ baseUrl }}/assets/const/css/error_style.css">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ baseUrl }}/assets/const/img/favicon.png">
    </head>

    <body>
        <div class="df df1">
            <div class="df df1 jcc dfc aic mt5">
                <img src="{{baseUrl}}/assets/const/img/LivexpLogoA.png" style="max-width:200px;">
                <span class="text-gray text2 mt2 textal">Desculpe, mas esse link ainda não existe</span>
            </div>
        </div>
    </body>
</html>