{% extends "internal/dashboard/template.twig" %}

{% block title %}Produtos{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="icon" type="image/png" sizes="96x96" href="{{ baseUrl }}/assets/const/img/favicon.png">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/internal/dashboard/product/style.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/const/css/const_style.css">
    <script src="{{ baseUrl }}/assets/internal/dashboard/product/main.js"></script>
{% endblock %}

{% block body %}
    <body>

        <div class="df dfc mh100" style="background-color:blueviolet;">
            <!-- {{ include("internal/dashboard/header.twig") }} -->
            <!-- <div class="" style="background-color:blueviolet;"></div> -->
            <!-- {% block footer %}{% endblock %} -->
            <nav class="df w100" style="background-color:aqua;height:50px;text-align:center;"></nav>
            <div class="df df1" style="background-color:brown;height:50px;text-align:center;">
                <div class="df" style="background-color: cornsilk;min-width:200px;"></div>
                <div class="df" style="background-color: burlywood;min-width:250px;"></div>
                <div class="df df1 jcc" style="background-color: chocolate;">
                    <div class="df aic">
                        <div class="df dfc machine_content">
                            {# <div class="line_content" data-line=${root.interno.countline-1}></div> #}
                        </div>
                        <div class="machine_content_control">
                            {# <div class="line_control mt2 removeline" data-line=${i}></div> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
{% endblock %}