html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'gothic';
    background-color:bisque;
}

body {
    /* display:flex; */
    /* flex-direction:column; */
}

.line_control {
    background-color:darkgrey;
    width:100%;
    height:100px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.addline {
    background-image:url('http://localhost/casagroup/assets/internal/img/plus.png');
    background-size:30px;
    background-repeat:no-repeat;
    background-position:center;
}

.removeline {
    background-image:url('http://localhost/casagroup/assets/internal/img/minus.png');
    background-size:30px;
    background-repeat:no-repeat;
    background-position:center;    
}

.machine_content_control, .machine_content {
    width:50px;
    height:700px;
    background-color:cyan;
    margin-left:5px;
    align-items:center;
}

.machine_content {
    height:700px;
    width:400px;
    background-color: crimson;
    border:5px solid #ccc;
    border-radius:10px;
    padding:10px;
}

.line_machine {
    display:flex;
    flex-direction:row;
    background-color:darkgrey;
    width:100%;
    height:100px;
}

.line_content {
    display:flex;
    display: flex;
    flex-direction: row;
    background-color:darkgrey;
    width:100%;
    height:100px;
    margin-top:15px
}