<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ baseUrl }}/assets/internal/img/favicon.png">
        <script src="{{ baseUrl }}/assets/const/js/jquery-3.5.1.min.js"></script>
        <script src="{{ baseUrl }}/assets/const/js/Utils.js"></script>
        <script src="{{ baseUrl }}/assets/internal/machine.js"></script>
        <title>Document</title>
    </head>

    <body>

        <div></div>

    </body>

</html>