/* html, body { margin:0px;padding:0px; } */
p { margin:0px; padding:0px; }
.message, .status_message { display:none; }

:root {
    --light-green: #18bc9c;
    --dark-gray: #222;
    --gray: #777;
    --light-gray: #ccc;
    --white: #fff;
}
 
@font-face {
    font-family: 'gothic';
    src: url('../fonts/gothic.ttf');
    font-weight: normal;
}
 
@font-face {
    font-family: 'gothic_b';
    src: url('../fonts/gothicb.ttf');
    font-weight: normal;
}
 
@font-face {
    font-family: 'gothic_bi';
    src: url('../fonts/gothicbi.ttf');
    font-weight: normal;
}
 
@font-face {
    font-family: 'gothic_i';
    src: url('../fonts/gothici.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'mauricio_b';
    src: url('../../const/fonts/mauricio-bold.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'vag_b';
    src: url('../../const/fonts/vagroundedstd-black.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'calibriib';
    src: url('../../const/fonts/calibriib.ttf');
    font-weight: normal;
}


.pa { position:absolute; }
.pr { position:relative; }
.paw { position:absolute;left:0;right:0; }
.pah { position:absolute;top:0;bottom:0; }

.dn { display:none !important; }
.dib { display:inline-block; }
.df { display:flex; }
.df1 { display:flex;flex:1; }
.dfc { display:flex;flex-direction:column; }
.dfc1 { display:flex;flex:1;flex-direction:column; }
.dfr { display:flex;flex-direction:row; }
.dfr1 { display:flex;flex:1;flex-direction:row; }

.f1 { flex:1; }.f2 { flex:2; }.f3 { flex:3; }.f4 { flex:4; }.f5 { flex:5; }

.jcc { justify-content:center; }
.jcs { justify-content:flex-start; }
.jce { justify-content:flex-end; }
.jca { justify-content:space-around; }
.jcb { justify-content:space-between; }

.aic { align-items:center; }
.ais { align-items:flex-start; }
.aie { align-items:flex-end; }

.asc { align-self:center; }
.ass { align-self:flex-start; }
.ase { align-self:flex-end; }

.text1 { font-size:0.50rem; }.text2 { font-size:1rem; }.text3 { font-size:1.5rem; }.text4 { font-size:3rem; }.text5 { font-size:4.5rem; }
.textal { text-align:center; }

.m { margin:0.25rem; }.m1 { margin:0.50rem; }.m2 { margin:1rem; }.m3 { margin:1.5rem; }.m4 { margin:3rem; }.m5 { margin:4.5rem; }
.mt { margin-top:0.25rem; }.mt1 { margin-top:0.50rem; }.mt2 { margin-top:1rem; }.mt3 { margin-top:1.5rem; }.mt4 { margin-top:3rem; }.mt5 { margin-top:4.5rem; }
.mb { margin-bottom:0.25rem; }.mb1 { margin-bottom:0.50rem; }.mb2 { margin-bottom:1rem; }.mb3 { margin-bottom:1.5rem; }.mb4 { margin-bottom:3rem; }.mb5 { margin-bottom:4.5rem; }
.ml { margin-left:0.25rem; }.ml1 { margin-left:0.50rem; }.ml2 { margin-left:1rem; }.ml3 { margin-left:1.5rem; }.ml4 { margin-left:3rem; }.ml5 { margin-left:4.5rem; }
.mr { margin-right:0.25rem; }.mr1 { margin-right:0.50rem; }.mr2 { margin-right:1rem; }.mr3 { margin-right:1.5rem; }.mr4 { margin-right:3rem; }.mr5 { margin-right:4.5rem; }
.mx { margin-top:0.25rem;margin-bottom:0.25rem; }.mx1 { margin-top:0.50rem;margin-bottom:0.50rem; }.mx2 { margin-top:1rem;margin-bottom:1rem; }.mx3 { margin-top:1.5rem;margin-bottom:1.5rem; }.mx4 { margin-top:3rem;margin-bottom:3rem; }.mx5 { margin-top:4.5rem;margin-bottom:4.5rem; }
.my { margin-left:0.25rem;margin-right:0.25rem; }.my1 { margin-left:0.50rem;margin-right:0.50rem; }.my2 { margin-left:1rem;margin-right:1rem; }.my3 { margin-left:1.5rem;margin-right:1.5rem; }.my4 { margin-left:3rem;margin-right:3rem; }.my5 { margin-left:4.5rem;margin-right:4.5rem; }

.p { padding:0.25rem; }.p1 { padding:0.50rem; }.p2 { padding:1rem; }.p3 { padding:1.5rem; }.p4 { padding:3rem; }.p5 { padding:4.5rem; }
.pt { padding-top:0.25rem; }.pt1 { padding-top:0.50rem; }.pt2 { padding-top:1rem; }.pt3 { padding-top:1.5rem; }.pt4 { padding-top:3rem; }.pt5 { padding-top:4.5rem; }
.pb { padding-bottom:0.25rem; }.pb1 { padding-bottom:0.50rem; }.pb2 { padding-bottom:1rem; }.pb3 { padding-bottom:1.5rem; }.pb4 { padding-bottom:3rem; }.pb5 { padding-bottom:4.5rem; }
.pl { padding-left:0.25rem; }.pl1 { padding-left:0.50rem; }.pl2 { padding-left:1rem; }.pl3 { padding-left:1.5rem; }.pl4 { padding-left:3rem; }.pl5 { padding-left:4.5rem; }
.pr { padding-right:0.25rem; }.pr1 { padding-right:0.50rem; }.pr2 { padding-right:1rem; }.pr3 { padding-right:1.5rem; }.pr4 { padding-right:3rem; }.pr5 { padding-right:4.5rem; }
.px { padding-top:0.25rem;padding-bottom:0.25rem; }.px1 { padding-top:0.50rem;padding-bottom:0.50rem; }.px2 { padding-top:1rem;padding-bottom:1rem; }.px3 { padding-top:1.5rem;padding-bottom:1.5rem; }.px4 { padding-top:3rem;padding-bottom:3rem; }.px5 { padding-top:4.5rem;padding-bottom:4.5rem; }
.py { padding-left:0.25rem;padding-right:0.25rem; }.py1 { padding-left:0.50rem;padding-right:0.50rem; }.py2 { padding-left:1rem;padding-right:1rem; }.py3 { padding-left:1.5rem;padding-right:1.5rem; }.py4 { padding-left:3rem;padding-right:3rem; }.py5 { padding-left:4.5rem;padding-right:4.5rem; }

.w10 { width:10%; } .w20 { width:20%; } .w30 { width:30%; } .w40 { width:40%; } .w50 { width:50%; } .w60 { width:60%; } .w70 { width:70%; } .w80 { width:80%; } .w90 { width:90%; }  .w100 { width:100%; }
.h10 { height:10%; }.h20 { height:20%; }.h30 { height:30%; }.h40 { height:40%; }.h50 { height:50%; }.h60 { height:60%; }.h70 { height:70%; }.h80 { height:80%; }.h90 { height:90%; } .h100 { height:100%; } 
.mh100 { min-height:100%; }

/* text */
.text-light-green { color:var( --light-green ); }
.text-dark-gray { color:var( --dark-gray ); }
.text-gray { color:var( --gray ); }
.text-light-gray { color:var( --light-gray ); }
.text-white { color:var( --white ); }

.text-center { text-align:center; }
.text-bold { font-weight:bold; }

/* background */
.bg-light-green { background-color:var( --light-green ); }
.bg-dark-gray { background-color:var( --dark-gray ); }
.bg-gray { background-color:var( --gray ); }
.bg-light-gray { background-color:var( --light-gray ); }
.bg-white { background-color:var( --white ); }

.waiting {
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex:1;
    justify-content:center;
    align-items:center;
    z-index:2;
    background:#ffffffdd;
}