<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <script src="{{ baseUrl }}/assets/const/js/jquery-3.5.1.min.js"></script>
        <script src="{{ baseUrl }}/assets/const/js/Utils.js"></script>

        {% block head %}

        {% endblock %}
    </head>

    {% block body %}
    
    {% endblock %}
</html>