<table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="text-align:center;font-family:Calibri;">
	<tr>
		<td bgcolor="#70bbd9">
            <br>
			    Imagem Logo
            <br>
            <br>
		</td>
	</tr>
	<tr>
		<td bgcolor="#ffffff">
            <br>
            <br>

			<span style="font-size:2rem;">Bem vindo a {{ platform_name }}</span><br><br><br>
			<span style="">Abaixo contem seu usuario e senha para acesso.</span><br>
			<span style="">Assim você podera controlar seu funcionarios e funções,</span><br>
			<span style="">também adicionar, remover ou pausar um usuario.</span><br><br><br><br>
			<span style="">Login: {{ user }}</span><br>
			<span style="">Senha: {{ password }}</span><br>
            <br><br><br>
			<span style="">Essa senha sera usada UNICAMENTE no seu primeiro acesso.</span><br>
			<span style="">Quando efetuar seu primeiro acesso, você ira cadastrar sua nova senha!.</span><br>

            <br>
            <br>

		</td>
	</tr>
	<tr>
		<td bgcolor="#ee4c50">
            <br><br>
            Todos direitos reservados - {{ platform_name }} - 2021
            <br><br>
		</td>
	</tr>
</table>
